!!!
%html
  %head
    %title Automatic Industries
    %link{href: "http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css", rel: "stylesheet"}
    %link{href: "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel: "stylesheet"}
    %link{href: "assets/stylesheets/base.css", rel: "stylesheet"}
    %script{src: "http://code.jquery.com/jquery-2.1.0.min.js"}
    %script{src: "http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"}
  %body
    #cover-photo
      .container
        .row
          .col-md-12
            %nav.navbar.navbar-default{role: "navigation", style: "margin-top: 20px"}
              .container-fluid
                .navbar-header
                  %a.navbar-brand{href: "#"} Automatic
                .collapse.navbar-collapse
                  %ul.nav.navbar-nav
                    %li.active
                      %a{href: "#"} Profile
                    %li
                      %a{href: "#"} Search
                    %li
                      %a{href: "#"}
                        Connections
                        %span.badge 23
                  %ul.nav.navbar-nav.navbar-right
                    %li
                      %a{href: "#"} Account
                    %li.dropdown
                      %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                        Settings
                        %b.caret
                      %ul.dropdown-menu
                        %li
                          %a{href: "#"} Notifications
                        %li
                          %a{href: "#"} Privacy
                        %li.divider
                        %li
                          %a{href: "#"} Sign Out
        .row
          .col-md-2.col-md-offset-5
            #profile-wrapper
              %img{ src: "assets/images/profile.jpg"  }
          .col-md-12
            %h1 R2-D2
  .container#details
    .row
      .col-md-4
        .panel.panel-default
          .panel-body
            %h2 Industrial Automaton
          .panel-footer Manufacturer
      .col-md-4
        .panel.panel-default
          .panel-body
            %h2 33 BBY
          .panel-footer Date Created
      .col-md-4
        .panel.panel-default
          .panel-body
            %h2 Naboo
          .panel-footer Location
      .col-md-4
        .panel.panel-default
          .panel-body
            %h2 R Series
          .panel-footer Product Line
      .col-md-4
        .panel.panel-default
          .panel-body
            %h2 Astromech Droid
          .panel-footer Model
      .col-md-4
        .panel.panel-default
          .panel-body
            %h2 32 Kilograms
          .panel-footer Mass
  .container#comments
    .row
      .col-md-6
        %h2 Details
        %hr
        .panel.panel-default
          .panel-heading Biography
          .panel-body
            %p My name is R2-D2, pronounced Artoo-Deetoo and often referred to as Artoo. I am an R2-series astromech droid manufactured by Industrial Automaton prior to 32 BBY. Resourceful and spunky, I have an adventurous personality during my many decades of operation. Along with my counterpart, the protocol droid C-3PO, I constantly found himself directly involved in pivotal moments of galactic history. My bravery, coupled with my many gadgets, played large roles in saving the galaxy time and time again.
        .panel.panel-default
          .panel-heading Features
          .panel-body
            %h4
              %span.label.label-default Brooks Propulsion rocket booster
              %span.label.label-default Cable gun
              %span.label.label-default Oil injector
              %span.label.label-default Claw arm
              %span.label.label-default Fusion cutter
              %span.label.label-success Holoprojector / Recorder
              %span.label.label-default Internal comlink
              %span.label.label-default Periscope
              %span.label.label-default Electric pike
              %span.label.label-default Propeller
              %span.label.label-success Hidden lightsaber compartment with ejector
              %span.label.label-default Fire extinguisher / Smoke Screen
              %span.label.label-default Small Saw
              %span.label.label-default Air Cannon
              %span.label.label-default Crashmat
              %span.label.label-default Lariat
              %span.label.label-default Submarine Mode
              %span.label.label-default Collapsible Umbrella
              %span.label.label-default R2parts CVD
              %span.label.label-default R2-D2: expanded view
              %span.label.label-default Flea Remover
              %span.label.label-default Distracter
              %span.label.label-default Headdress Detangler
              %span.label.label-default Droid Deactivator
              %span.label.label-default Computer Interface Arm
              %span.label.label-default Charge Arm (electric shock)
              %span.label.label-success Life-form Scanner
              %span.label.label-default Breakdance Mode
      .col-md-6
        %h2 Comments
        %hr
        %ul.media-list
          %li.media
            %a.pull-left{href: "#"}
              %img.media-object{ src: "assets/images/comments/c3po.jpg"}
            .media-body
              %h4.media-heading C-3PO
              %p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
              .media
                %a.pull-left{href: "#"}
                  %img.media-object{ src: "assets/images/comments/han-solo.jpg"}
                .media-body
                  %h4.media-heading Han Solo
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          %li.media
            %a.pull-left{href: "#"}
              %img.media-object{ src: "assets/images/comments/c3po.jpg"}
            .media-body
              %h4.media-heading C-3PO
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          %li.media
            %a.pull-left{href: "#"}
              %img.media-object{ src: "assets/images/comments/han-solo.jpg"}
            .media-body
              %h4.media-heading Han Solo
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
              .media
                %a.pull-left{href: "#"}
                  %img.media-object{ src: "assets/images/comments/wookie.png"}
                .media-body
                  %h4.media-heading Chewbacca
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
              .media
                %a.pull-left{href: "#"}
                  %img.media-object{ src: "assets/images/comments/leia.jpg"}
                .media-body
                  %h4.media-heading Leia Organa Solo
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
  .container
    .row
      .col-md-12#footer
        %hr
        %p Copyright Automatic Industries 12 BBY. All Rights Reserved. Designed in Boulder, Colorado.
